table, th, td {
    border: 1px solid black;
	text-align: center;
	width: 100%;
}



input[type=number], select {
  width: 70%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border:solid 2px red;    
}

input[type=text], select {
  width: 70%;
  padding: 12px 20px;
  margin: 16px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border:solid 2px red;    
}

.myList{
  width: 60%;
  padding: 12px 20px;
  margin: 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border:solid 2px red;    
}

.myList2{
  width: 25%;
  padding: 12px 20px;
  margin: 16px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  border:solid 2px red;    
}


.button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 40%;
  height: 40 px;
}

.button_compute {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 15%;
  height: 40px;
}


.button_yes {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 10%;
  height: 40px;
}

.button_no {
  background-color: #f45642;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 10%;
  height: 40px;
}

.button_maybe {
  background-color: #4177f4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 10%;
  height: 40px;
}

.button_link {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: 4px 2px;
  cursor: pointer;
  font-size: 16px;
  width: 40%;
}

.canvas{
  margin-top: 45px;
}

.center {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}


/* The container */
.container {
    display: inline-block;
    position: relative;
    padding-left: 60px;
	margin-bottom: 50px;
	margin-right: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	padding-top: 10px;
}

/* Hide the browser's default radio button */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: #eee;
    border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 15px;
	left: 15px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: white;
}



